---
import "@/assets/styles/index.css";
import "@fontsource-variable/geist-mono";
import Background from "@/components/background.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>awbie</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<h1 class="title">awbie</h1>
		<Background shape={"square"} ink={"#ffffff"} bg={"#09090b"} pixelSize={6} />
	</body>
</html>
