---
const { shape, pixelSize, bg, ink } = Astro.props;
---

<div
	class="cover"
	data-shape={shape}
	data-pixel-size={pixelSize}
	data-ink={ink}
	style={`background-color: ${bg};`}
>
</div>

<script src="../assets/scripts/background.ts"></script>
